 @media screen and (max-width: 1500px) {
       
     /*#questSide {margin-top: 312px;}*/
     
     .question .questBox img {  margin-top: 0; }
     .answerWrap .img { }
     /*.compact2 #questSide {margin-top: 163px;}*/
}  



@media screen and (max-width: 480px) {
    #mainBox #navbar {display: none; background: rgba(0,0,0,0.95); }
    #search {height: 25%; }
    .activeSearch {width: 69% !important; border-bottom: 1px solid #ccc !important; padding: 4px 24px 4px 4px !important;}
    .activeSearch img {left: 93% !important;}
    #search form {max-width: 300px; margin-left: 27px; margin-top: 70px;}
    #search input {font-size: 25px; }
    
    .answerWrap .item {  width: 100%;}
    .modalContent {width: 100%; height: 100%; margin-top: 0;}
    /*.srav {display: none;}
    .modalItemp {display: none;}*/
    .modalItem {width: 100%; float: none; margin: 0px;}
    /*
    #search {width: auto; border: 0; position: absolute; right: 0px; background: rgba(0, 0, 0, 0.7); padding: 20px; margin-top: 0; width: 100%; padding-left: 55px;}
    #search input {display: none; border-radius: 5px; padding: 8px; background: none; border: 1px solid #fff; color: #fff;}
    #search .mImg {top: 29px; left: 24px;}
    */
    .imgitem {height: auto;}
    #otherQuest .browse {position: unset; padding: 0; height: auto;}
    
    #navbar, #nb {position: absolute;}
    
    .sub2 {width: 100%; margin-left: 0; display: block;}
    .compact #qW {width: 100%;}
    .compact video {display: none;}
    .compact2 video {display: block !important;}
    .compact2 #questSide {margin-top: 1px;}
    
    .oqfix, .fixoq {position: relative; z-index: 1; bottom: 0; margin-left: 0;}
    .fixoq {top:auto; width: 100%; margin-left: 0; border: 0;}
    
    .fixx {margin-left: 0; right: 0; border-top: 4px solid #f2f2f2;}
    #logo h1 {display: none;}
    #logo img {width: 38px; margin-top: 15px;}
    
    
    #content {margin-left: 0px;}
    #rsection {} 
    #contentHeaderAction .avatar img {width: 50px;}
    #contentHeader {height: 180px;}
    #contentHeaderMask {height: 180px;}
    #contentHeaderAction {margin-top: 30px; width: 100%}
    #contentHeaderAction .avatar {width: 50px; height:50px; margin-right: 10px;}
    #contentHeaderAction h2 {font-size: 16px; line-height: 16px; float: none; margin-right: 0;}
    #contentHeaderAction .trpbut {float: left; margin-top: 38px; padding: 2px;}
    .row {margin: 0;}
    
    .question {padding: 0;}
    .question .infoBox {padding: 2px;}
    #qW .head {margin: 0;   width: 100%; padding: 0; border: 0;}
    #qW {margin-left: 0; width: 100%; padding:0;   border-top: 10px solid #f2f2f2; margin-top: -11px;}
    
    .miniQW {top: 0; right: 0; bottom: unset;}
    
    #questSide {margin: 0; width: 100%;}
    .answerWrap {margin: 0;}
    .answerWrap .head {padding: 7px 9px; box-sizing: border-box;}
    .commentWrap {margin: 5px 0;}
    #commentBut .addFile {}
    /*#commentBut .addFile {position: absolute; top: 61px;right: 10px; z-index: 8;}*/
    #commentNow #msg {padding: 5px 25px 5px 5px;}
    #otherQuest {width: 100%; position: relative; z-index: 1;}
    #otherQuest .head {padding: 0 12px 0 6px; box-sizing: border-box;}
    .question .avatar { }
    .question .ttp {bottom: 0; top: 0;}
    .question .country {top: 2px;}
    
    .question .user div a {font-size: 14px;}
    #contentHeaderAction #score {  position: absolute; margin-left: 0; margin-top: 0; left: 85px; top: 34px; font-size: 12px;}
    #contentHeaderAction #score p {font-size: 12px; display: inline-block; margin-left: 6px;}
    
    .section .wrap {padding: 0;}
    .section .wrap div {max-width: 290px;}
    .section .wrap h3 {font-size: 30px; margin-bottom: 20px;}
    
 
    #sortParam .sP {display: block; margin: 10px;   background-position: right 6px top 20px;}
    #sortParam p {padding-left: 10px;}
    
    .navbarMini {
        display: block !important;
        width: 300px !important;
        overflow: hidden;
        -webkit-transition: all .9s;
        transition: all .9s;
        z-index: 1000;
            margin-left: 0px;
    }

    .navbarMini ul {
        text-indent: 0px;
        width: auto !important;
    }

    .navbarMini #lang,
    .navbarMini #othernav,
    .navbarMini #copyright,
    .navbarMini ul ul {
        display: block;
    }
    .contFull {margin-left: 0px !important;}
    
    #qW .answer {display: none;}
    .soc p {display: none;}
    .question .ico {width: 15px !important;}
    .showauthoranswer {display: none;}
    .mobAuthorAnswer {padding: 10px; display: block; background: #d8dfe3; color: #000; text-align: center; font-size: 12px;}
    .mobSoc {font-size: 10px;}
    .answerWrap h3 {margin: 0px 13px 0 1px;}
    .question .soc { }
    /*#mobLogin {display: inline-block; margin-top: 30px; margin-left: 20px; margin-bottom: 10px;} 
    #avatar {margin-right: 10px;}  
    #add {margin-right: 10px;}
    #wallet {background: url(../images/icon/walletFFF.png) 1px 6px no-repeat; width: 40px; height: 40px;}
    #notice {background: url(../images/icon/noticeFFF.png) 1px 2px no-repeat; width: 40px; height: 40px;} */
     
    
    .walletHeader { display: block;}
    .walletSumm, .walletScore {float: none; width: 100%;}
    .walletRef span {display: block; margin-bottom: 10px;}
    #qW .claim {margin-top: 25px;}
     
    
    .bbWrap {font-size: 12px;}
    .stepsAdd h4 {width: 50px;}
    
    .baron2 {position: relative !important; width: 100%; padding-bottom: 0px;}
    #otherQuest .item {padding: 0 2%; float: left; width: 50%;}
    
    .srav {display: none;}
    .mobsrav {display: block; position: absolute; width: 50px; left: 50%; margin-left: -25px; border: 7px solid #fff; border-radius: 100%; margin-top: -24px;}
    .game {background-position-x: -100px !important;}
    
    .modalBg {padding: 0;}
    .qItem .imgitem, .aItem .imgitem {  max-height: /*450px*/ 305px; width: auto;}
    
    #addAnswer a {max-width: 290px;}
    #addAnswer .time {font-size: 40px;}
    #mainHeaderBlock h1 {font-size: 25px;}
    #mainHeaderBlock h3 {font-size: 20px;}

}

