#login {
    display: block;
}

.link-block {
    display: none;
}

.step100 {background: #71ce0d; width: 100%;}
.step33 {background: #71ce0d; width: 33%;}
.step25 {background: #71ce0d; width: 25%;}
.step50 {background: #71ce0d; width: 50%;}
.step75 {background: #71ce0d; width: 75%;}

/* UPLOAD */
.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    background: white;
}
.dz-max-files-reached {
    /*background-color: #cccccc;*/
}

.step1 {
    display: block;
}

.step2, .step2-2, .step2-3, .step3 {
    display: none;
}

#submit-all, #submit-preview  {
   /*display: none;*/
}

.add-file {
    position: relative;
    z-index: 100;
}

#add-file {
    z-index: -1;
}

.dropzone a.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable * {
    cursor: move;
}

.dropzone.dz-clickable {
    cursor: move;
}

.dz-default {
    display: none;
}

/* TAGS */
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* DROPZONE */
.dropzone {
    padding: 40px 50px;
    margin-bottom: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    border: 2px dashed #ccc;
    margin-top: 20px;
    cursor: move;
}
.dropzone a {
    font-size: 16px;
}

.dropzone span {
    display: block;
    margin-bottom: 10px;
}

.dropzone div span {
    border-top: 1px dotted #ccc;
    margin-top: 20px;
    padding-top: 13px;
    font-size: 10px;
    display: inline-block;
    font-size: 12px;
}

.dropzone div a {
    text-decoration: underline;
    font-size: 12px;
}

.dropzone .dz-clickable {
    cursor: move;
}


/* SIGNS */
.subscribe {
    height: 35px;
}

.min-height {
    min-height: 35px;
    height: auto;
}

/* UPLOAD BANNER */
 img {
     max-width: 100%; /* This rule is very important, please do not ignore this! */
 }

.bg-loader {
    background-image: url('../images/2.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

/* MODAL */
.modal-dialog {
    width: 900px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
[role="button"] {
    cursor: pointer;
}
.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
}
.affix {
    position: fixed;
}

.modal-dialog {
    width: 900px;
}

.lib-container {
    overflow: hidden;
}

.dropzone .show-file-lib {
    cursor: pointer;
}

.msg-block a, .msg-block-preview a {
    float: right;
}

.msg-block {
    display: none;
    padding: 10px;
    overflow: hidden;
    border: 2px dashed #ccc;
    vertical-align: middle;
}

.msg-block-preview {
    display: none;
    border: 2px dashed #ccc;
    padding: 10px;
    overflow: hidden;
    vertical-align: middle;
}

.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
.answerWrap {
    padding-top: 500px;
}

#success-answer {
    margin-top: 100px;
}

#success-comment {
    margin-top: 100px;
}
*/
#add-comment-front, #add-answer-front {
    display: none;
}

/* FILES */
.filelist {
    float: none;
    display: flex;
    flex-flow: row wrap;
}

/* ALERTS */
.error-msg-block {
    border: 2px dashed #ff2637;
    display: none;
    padding: 10px;
    overflow: hidden;
    vertical-align: middle;
    margin: 20px 0;
}

#success-answer, #success-comment {
    border: 2px dashed #30fb19;
    padding: 10px;
    overflow: hidden;
    vertical-align: middle;
    margin: 20px 0;
}

#sortParam .file-sort {
    background: url(../images/icon/sortArr.png) right 6px top 12px no-repeat #f2f2f2;
    padding: 7px 16px 7px 7px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.preview-image {
    width: 300px;
    height: 200px;
}