@import 'https://fonts.googleapis.com/css?family=PT+Sans+Caption|Russo+One|Ubuntu';
* {margin: 0;padding: 0;}
img {border: 0;}
.clear {clear: both;height: 1px;}
a {color: #135497;text-decoration: none;}
a:hover {color: #676768;text-decoration: none;}
body,
html {height: 100%;width: 100%;}
a img {text-decoration: none;}
body {background: #f2f2f2;color: #000;font-family: pt sans caption, Arial, sans-serif;font-size: 14px;position: relative;}
textarea {font-family: pt sans caption, Arial, sans-serif;}
.show {display: block;}
.none {display: none;}
.hidden {opacity: 0;}
.hiddenHeader {top:-63px}
.visible {opacity: 1 !important;}
button {border: 0;}
.anyclass {display: block;padding-top: 10px;text-align: center;}
.redbut {background: #ff2637;border-radius: 5px;color: #fdfcfc;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.greybut {background: #dedcdc;border-radius: 5px;color: #000;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.yellbut {background: #fbf50b;border-radius: 5px;color: #000;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.greenbut {background: #d0fb6b;border-radius: 5px;color: #000;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.bluebut {background: #3c8dbc;border-radius: 5px;color: #fff;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.trpbut {background: transparent;border: 2px solid #fff;border-radius: 5px;color: #fff;display: inline-block;font-size: 13px;padding: 8px;transition: all .9s;webkit-transition: all .9s;}
.bigbut {padding: 20px 40px;}
.redbut:hover, .trpbut:hover,.bluebut:hover {border-radius: 20px 5px 20px 5px;color: #fdfcfc;}
.yellbut:hover, .greybut:hover, .greenbut:hover {border-radius: 20px 5px 20px 5px;color: #000;}
.aboutB {background: rgba(247, 230, 6, .68);display: inline;font-size: 21px;font-weight: 600;padding: 5px;}
.mbi {float: right;margin-left: 8px;width: 18px;}
#submit-banner {font-size: 20px;left: 460px;line-height: 40px;margin-top: -25px;position: absolute;text-align: center;top: 50%;width: 150px;}
input[type=text],
input[type=password],
select,
input[type=email],
input[type=url],
textarea {background: #fff;border: 2px solid #d9d9d9;border-radius: 2px;box-sizing: border-box;color: #626262;display: inline-block;height: 33px;line-height: 19px;padding: 0 8px;vertical-align: top;}
input[type=text]:hover,
input[type=password]:hover,
select:hover,
input[type=email]:hover,
input[type=url]:hover,
textarea:hover {border-color: #ccc;}
input[type=text]:focus,
input[type=password]:focus,
select:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {background: #fff;border-color: #3fb6f2;color: #3c3c3c;outline: 0;}
textarea {height: 69px;line-height: 19px;overflow: auto;padding: 4px 8px;resize: none;}
:-moz-placeholder {color: #aaa !important;}
::-moz-placeholder {color: #aaa !important;opacity: 1;}
::-webkit-input-placeholder {color: #aaa;}
:-ms-input-placeholder {color: #aaa;}
#flexBox {}
#header {background: #fff;clear: both;height: 63px;position: relative;z-index: 99;}
 
#hd {background: #fff;height: 63px;padding: 0 20px; position: fixed; width: 100%;z-index: 999;}
#menu-ico {background: url(../images/menu-ico.png);cursor: pointer;float: left;height: 12px;margin-right: 10px;margin-top: 27px;vertical-align: top;width: 21px;}
#logo {float: left;}
#logo img {margin-top: 8px;moz-transition: all .9s ease-in-out;ms-transition: all .9s ease-in-out;o-transition: all .9s ease-in-out;transition: all .9s ease-in-out;webkit-transition: all .9s ease-in-out;}
#logo img:hover {moz-transform: rotate(360deg);ms-transform: rotate(360deg);o-transform: rotate(360deg);transform: rotate(360deg);webkit-transform: rotate(360deg);}
#logo h1 {display: inline-block;font-size: 20px;line-height: 67px;vertical-align: top;}

#searchIcon {float: left; height: 25px; width: 25px; padding-top: 5px; margin-right: 20px;}
#search {position: fixed; height: 50%; z-index: 999; background: rgba(0, 0, 0, 0.86); width: 100%; display: none;}
#search img {left: 0;position: absolute;top: 6px;}
#search form {max-width: 1000px; margin-left: 297px; margin-top: 150px;}
#search input {border: 0; width: 100%; font-size: 66px; background: none; border-bottom: 1px solid #fff; color: #fff; font-weight: 800;}
#search input:focus {outline: 0; outline-offset: -2px;}
#search input[type=submit] { display: none;}


#rsection {position: absolute;right: 13px;top: 16px;}
#add {float: left;margin-right: 30px;}

#add .redbut {width: 35px; height: 35px; border-radius: 100%; text-align: center; font-size: 24px; line-height: 34px; padding: 0;}
#login {display: none;float: left;}
#reg {}
#auth {}
#logout {display: inline-block;float: left;}
#notice {background: url(../images/icon/2018/notice.png) 1px 6px no-repeat;float: left;height: 50px;width: 50px; background-size: 25px;}
#noticeBall {background: #ff2637;border-radius: 100%;color: #fff;font-size: 8px;height: 14px;margin-left: 14px;margin-top: 3px;padding-top: 3px;text-align: center;width: 14px;}
#wallet {background: url(../images/icon/2018/wallet.png) 1px 6px no-repeat;float: left;height: 50px;width: 50px; background-size: 25px;}
#walletBall {background: #ff0;border-radius: 100%;color: #000;font-size: 8px;height: 14px;margin-left: 14px;margin-top: 3px;padding-top: 3px;text-align: center;width: 14px;}
#avatar {float: left;line-height: 53px;}
#avatar img {border-radius: 100%;width: 30px;}
#navbar {background: #191919;height: 100%;min-height: 870px;position: fixed;width: 265px;z-index: 99;}
.navbarMini {overflow: hidden;transition: all .9s;webkit-transition: all .9s;    margin-left: -265px;}
.navbarMini ul {display: block !important;text-indent: -9e3px;width: 22px !important;}
.navbarMini #lang,
.navbarMini #othernav,
.navbarMini #copyright,
.navbarMini ul ul {display: none;}
#nb {height: 100%;min-height: 870px;position: fixed;z-index: 99;}
#navbar ul {border-bottom: 1px solid #313131;display: inline-block;margin: 0 20px;padding: 40px 0;position: relative;z-index: 9;}
#navbar li {list-style: none;position: relative;}
#navbar ul li a {color: #fff;display: block;font-size: 13px;line-height: 22px;min-width: 22px;padding-left: 40px;position: relative;text-decoration: none;}
#navbar ul li a:hover {color: #676768;}
#navbar ul ul {border: 0;margin: 0 0 0 15px;padding: 5px 0;}
#navbar ul ul li {padding: 3px 0;}
#navbar ul ul li a {color: #e88686;}
#navbar ul ul li a:hover {}
#fastnav {}
#fastnav li {padding: 5px 0;}
#fastnav .main {background: url(../images/menu/main.png) no-repeat;}
#fastnav .profile {background: url(../images/menu/profile.png) no-repeat;}
#fastnav .new {background: url(../images/menu/new.png) no-repeat;}
#fastnav .pop {background: url(../images/menu/pop.png) no-repeat;}
#fastnav .last {background: url(../images/menu/last.png) no-repeat;}
#fastnav .like {background: url(../images/menu/like.png) no-repeat;}
#catnav {}
#catnav li {padding: 3px 0;}
#catnav .m {background: url(../images/menu/m.jpg) no-repeat;}
#catnav .d {background: url(../images/menu/d.jpg) no-repeat;}
#catnav .p {background: url(../images/menu/p.jpg) no-repeat;}
#catnav .g {background: url(../images/menu/g.jpg) no-repeat;}
#catnav .v {background: url(../images/menu/v.jpg) no-repeat;}
#catnav li a:hover {color: #f2f2f2;}
#catnav .aboutCategory {background: #2b333f;box-sizing: border-box;color: #6c6c6c;color: #f2f2f2;display: none;font-size: 12px;font-style: italic;margin-left: 40px;padding: 10px;position: absolute;transition: all .9s;webkit-transition: all .9s;width: 180px;z-index: 649;}
#catnav li:hover .aboutCategory {display: block;transition: all .9s;webkit-transition: all .9s;}
#othernav {transition: all .9s;webkit-transition: all .9s;}
#othernav {border: 0 !important;}
#othernav li a {color: #676768 !important;padding-left: 0 !important;}
#othernav li a:hover {color: #fff !important;}
#lang {font-size: 12px;margin: 0 20px;padding: 20px 0;transition: all .9s;webkit-transition: all .9s;}
#lang .current {color: #fff;}
#lang .current img {margin-right: 10px;}
#lang .current span {border-bottom: 1px dotted #e88686;color: #e88686;}
#lang .otherlang {border-bottom: 0;display: none;padding: 20px 0;}
#lang .otherlang li {}
#lang .otherlang li a {padding-left: 0 !important;}
#lang .otherlang img {margin-right: 10px;}
#copyright {color: #676768;font-size: 10px;margin: 0 20px;padding: 40px 0;transition: all .9s;webkit-transition: all .9s;}
#copyright a {display: inline-block;font-size: 12px;margin-top: 20px;}
#content {background: #f2f2f2;margin-left: 265px;min-height: 100%;position: relative;transition: all .9s;webkit-transition: all .9s;z-index: 11;}
#content .head {height: 39px;margin: 0;padding: 0 6px;position: relative;width: 100%;z-index: 99;}
.fixHead {background: #fff;position: relative;}
.fixx {border-top: 13px solid #f2f2f2;left: 0;margin-left: 278px;padding: 0 6px;position: fixed;right: 13px;top: 63px;}
#content .browse {background: #fff;}
#contentHeader {background-repeat: no-repeat !important;background-size: cover !important;height: 319px;position: relative;}
#contentHeader:hover #contentHeaderMask {background: rgba(0, 0, 0, .8);}
#contentHeader:hover .headerEdit {display: block;}
.headerEdit {background: url(../images/icon/edit.png) center right 50px no-repeat;display: none;height: 319px;left: 0;position: absolute;top: 0;width: 100%;z-index: 11;}
#contentHeaderMask {background: rgba(0, 0, 0, .26);height: 319px;left: 0;position: absolute;top: 0;width: 100%;z-index: 10;}
#contentHeaderAction {clear: both;float: left;margin-top: 110px;position: relative;z-index: 11;}
#contentHeaderAction .avatar {float: left;height: 100px;margin: 0 20px 0 25px;position: relative;width: 100px;}
#contentHeaderAction .avatar img {width: 100px;}
#contentHeaderAction .avatar:hover .avatarEdit {display: block;}
#contentHeaderAction .avatarEdit {background: url(../images/icon/edit2.png) center no-repeat rgba(0, 0, 0, .6);display: none;height: 100px;left: 0;position: absolute;top: 0;width: 100%;z-index: 12;}

#contentHeaderAction .avatar .ttp {top: -1px; left: 2px;}
#contentHeaderAction .country {bottom: 5px;position: absolute;right: 5px;}
#contentHeaderAction h2 {color: #fdfbfb;float: left;font-size: 34px;font-weight: 400;line-height: 100px;margin-right: 50px;}
#contentHeaderAction .trpbut {float: left;margin-top: 34px;}
#contentHeaderAction #score {color: #fdfbfb;float: left;font-size: 18px;line-height: 14px;margin-left: 50px;margin-top: 38px;}
#contentHeaderAction #score p {font-size: 13px;}

#footer {background: #191919; padding: 15px;}

#mainHeaderBlock {}
#mainHeaderBlock h1 {font-size: 54px; letter-spacing:  5px; color: #fff; text-transform: uppercase; text-align: center;}
#mainHeaderBlock h3 {font-size: 28px; letter-spacing:  3px; color: #fff; text-transform: uppercase; text-align: center; margin-bottom: 30px;}
#ABN {max-width: 310px; margin: 0 auto;}
#ABN .actButNew {color:#f8ea03; text-transform: uppercase; padding-left: 30px; margin: 0 12px; font-size: 18px; font-weight: 700;}
#ABN .ABNfaq {background: url(../images/icon/2018/faq.png) 0px 0px no-repeat;}
#ABN .ABNprize {background: url(../images/icon/2018/win.png) 0px 0px no-repeat;}


.contFull {margin-left: 0px !important;}
#mainBox { background: #f2f2f2;}
#mainContent {margin-left: 265px;}
#mainBox #navbar {position: fixed;}
.row {background: #fff;clear: both;margin: 13px;}
.head {margin: 0 6px;position: relative;}
.head h2 {border-left: 3px solid #ff2637;display: inline-block;font-size: 19px;line-height: 17px;margin: 11px 0 0 6px;margin-right: 30px;padding-left: 8px;}
.head h3,
.head2 h3 {border-left: 3px solid #ff2637;display: inline-block;font-size: 16px;line-height: 17px;margin: 13px 0 0 6px;margin-bottom: 10px; padding-left: 8px;}
.head a {font-size: 11px;}
#content2 { }
.sub2 {width: 50%; margin-left: 278px;  margin-right: 13px; display: inline-block; }
#sort {float: right;line-height: 31px;}
.sortIco {background: url(../images/icon/sort.png) right 10px center no-repeat;box-sizing: border-box;float: right;height: 40px;padding: 6px 18px;}
.sortIco:hover {background: url(../images/icon/sortHover.png) right 10px center no-repeat;color: #000;font-size: 12px;padding: 6px 18px;text-decoration: none;}
.sortActive {background: url(../images/icon/sort.png) right 10px center no-repeat rgba(0, 0, 0, .78) !important;}
#sortParam {background: rgba(0, 0, 0, .78);display: none;padding: 20px 10px;position: absolute;right: 0;top: 40px;width: 100%;z-index: 12;}
.answerWrap #sortParam {top: 47px;}
#sortParam p {color: #fff;padding-left: 6px;}
#sortParam .sP {background: url(../images/icon/sortArr.png) right 6px top 11px no-repeat #f2f2f2;border-radius: 5px;color: #000;font-size: 12px;margin-left: 5px;padding: 7px 16px 7px 7px;text-decoration: none;}
#sortParam .sP:hover {background: url(../images/icon/sortArr.png) right 6px top 9px no-repeat #d0fb6b;}
#sortParam .active {background: url(../images/icon/sortArr.png) right 6px top 9px no-repeat #d0fb6b;}
.subscribe {height: 25px;overflow: hidden;padding: 10px;}
.subItem {display: inline-block;margin: 0 5px;margin-bottom: 20px;}
.subItem a {color: #000;font-size: 13px;line-height: 25px;text-decoration: none;}
.subItem a:hover {text-decoration: underline;}
.subItem img {border-radius: 100%;float: left;margin-right: 5px;width: 23px; height: 23px;}
.more {background: url(../images/icon/more.png) right 8px no-repeat;float: right;height: 18px;margin-right: 10px;margin-top: 10px;padding-right: 30px;text-indent: -9e3px;}
.more:hover {color: #000;font-size: 12px;line-height: 18px;text-decoration: none;text-indent: 0;}
.browse {box-sizing: border-box;clear: both;padding: 0 6px;}
.browse .notifyWrap {box-sizing: border-box;padding: 6px;width: 100%;}
.notifyItem {border-bottom: 1px solid #e6e3e3;margin-bottom: 10px;padding: 10px;}
.notifyItemAva {display: inline-block;height: 36px;margin-right: 10px;vertical-align: top;width: 36px;}
.notifyItemAva div {border-radius: 100%;font-size: 24px;height: 36px;line-height: 36px;text-align: center;width: 36px;}
.notifyItemAva .green {background: #d0fb6b;color: #000;}
.notifyItemAva .red {background: #ff2636;color: #fff;}
.notifyItemAva .orange {background: #f78e08;color: #fff;}
.notifyItemAva .grey {background: #dedcdc;color: #000;}
.walletWrap {box-sizing: border-box;padding: 6px;}
.walletHeader {display: flex;}
.walletHeader h4 {border-bottom: 1px dotted #191919;padding-bottom: 11px;}
.walletHeader strong {font-size: 65px;}
.walletSumm {background: #fbfb45;box-sizing: border-box;float: left;padding: 50px;width: 50%;}
.walletScore {background: #e6e3e3;box-sizing: border-box;float: left;padding: 50px;width: 50%; display: none;}
.walletRef {background: #f2f2f2;box-sizing: border-box;clear: both;display: inline-block;margin-top: 12px;padding: 15px;width: 100%;}
.walletRef span {border: 1px dashed #999;border-radius: 5px;padding: 6px;}
.walletRef div {display: inline-block;margin-top: 10px;}
.walletRef a {}
.walletComm {margin-top: 10px;padding: 15px;}
.notifyItemAva img {border-radius: 100%;width: 100%;}
.notifyItemWrap {display: inline-block;vertical-align: top;}
.notifyItemLink {color: #000;display: block;text-decoration: none !important;}
.notifyItemWrap a {text-decoration: underline;}
.notifyItemDate {color: #666;display: block;font-size: 11px;}
.rbig .item {box-sizing: border-box;float: left;margin: 0;padding: 5px;width: 25%;}
.rsmall .item {box-sizing: border-box;float: left;margin: 0;margin-bottom: 20px;min-width: 250px;padding: 5px;width: 16.66%;}

.rsmall .item .avatar {border-radius: 100%; height: 35px; width: 35px !important; border: 5px solid #ffffff; margin-top: -8px; position: unset; margin-left: 0; z-index: 99;}
.owl-item .item .avatar {border-radius: 100%; height: 35px; width: 35px !important; border: 5px solid #ffffff; margin-top: -7px; position: unset; margin-left: 0; z-index: 99;}

.rsmallultra .item {box-sizing: border-box;float: left;margin: 0;min-width: 155px;padding: 5px;width: 10%;}
.item {box-sizing: border-box;padding: 5px;  }
.img {position: relative;}
.item  .mask {width: 100%; height: 100%; position: absolute; z-index: 7; top: 0; left: 0; background: rgba(0, 0, 0, 0);}
.item:hover .mask {background: rgba(0, 0, 0, 0.47);}
.imgitem {height: 100%; }
.chanel .user img,
.chanel .userName,
.chanel .country {display: none;}
.stats {background: url(../images/icon/bgStats.png);bottom: 0;clear: both;height: 23px;position: absolute;text-align: left;width: 100%;z-index: 11; display: none;}
.soc {color: #fff;display: inline-block;font-size: 11px;}
.soc .like, .soc .dislike {cursor: pointer;line-height: 23px;margin-left: 10px;padding-left: 17px;}
.soc .like:hover {moz-transform: rotate(360deg);ms-transform: rotate(360deg);o-transform: rotate(360deg);transform: rotate(360deg);webkit-transform: rotate(360deg);}
.soc .answer {background: url(../images/icon/answerWhite.png) no-repeat;line-height: 23px;margin-left: 20px;padding-left: 19px;}
.soc .newAnswer {background: url(../images/icon/answerRed.png) no-repeat;line-height: 23px;margin-left: 20px;padding-left: 19px;}
.icons {float: right;margin-right: 10px;margin-top: 4px;}

.ttp {position: relative; display: block; top: 15px; width: 17px}
.ttp div {position: relative;}
.country {width: 100%; position: absolute; left: 0; bottom: 0px; z-index: 99;}
.ttp:hover  {width: 200px; bottom: 150px;}
 
.question .ttp {left: 0;max-width: 17px;right: 0;z-index: 10;}
.question .ttp:hover {max-width: 200px;}
.question .country {border: 1px solid rgba(255, 255, 255, .43);border-radius: 0;width: 17px !important;}
.question .country:hover {width: auto !important;z-index: 21;}
.question #score {display: inline-block;}
.authorSay .ttp {position: static;}
.authorSay .ttp:hover::after {bottom: 0;left: 0;right: 0;width: 80px;}
.ico {margin-left: 10px;width: 18px !important;}
.userinfo {clear: both;margin-top: 10px;}
.authorAction {display: none;}
#questSide .authorAction {display: block;position: absolute;right: 15px;top: 15px;z-index: 13;}
#questSide .authorAction a {display: block;font-size: 12px;margin-bottom: 10px;text-align: center;}
.user {display: inline-block;}
.item .avatar {border-radius: 100%;height: 50px;width: 50px !important; border: 5px solid #ffffff; margin-top: -25px; position: absolute; margin-left: calc(50% - 25px); z-index: 99;}
.item .soc {float: right; text-align: right; color: #000;}
.user div {display: inline-block;vertical-align: top;}
.user div a {color: #000;font-size: 14px;text-decoration: none; margin-left: 25px;}
.user div a:hover {color: #676768;}
.user div p {font-size: 10px; display: none;}
.views {color: #6a6a6a;float: right;font-size: 10px;text-align: right;}
.views p {}
#section .mask {background: rgba(0, 0, 0, .26);height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: 10;}
.section {background-position: center !important;background-size: cover !important;display: table;height: 550px;position: relative;width: 100%;}
.section .wrap {color: #fff;display: table-cell;font-size: 16px;padding: 0 40px;position: relative;text-align: center;vertical-align: middle;z-index: 12;}
.section .wrap div {margin: 0 auto;max-width: 900px;}
.section .wrap h3 {font-family: Arial Black, sans-serif;font-size: 50px;margin-bottom: 60px;text-transform: uppercase;}
.chat {background: url(../images/demo/section1.jpg) no-repeat;}
.look {background: url(../images/demo/section2.jpg) no-repeat;}
.game {background: url(../images/demo/section3.jpg) no-repeat;}
.videoMore {background: url(../images/gameMoreArr.png) right 7px no-repeat;display: table;margin: 0 auto;margin-top: 5px;padding-right: 15px;text-transform: uppercase;}
#aboutVideo {display: none;}
.game .wrap {color: #000;}
.gameMore {background: url(../images/gameMoreArr.png) right 7px no-repeat;display: inline-block;font-size: 16px;margin-top: 60px;padding-right: 15px;text-decoration: underline;}
.gameMoreUp {background: url(../images/gameMoreArrUp.png) right 7px no-repeat;}
.gameComm {background: #fff;display: none;}
.gameCommActive {}
.gameComm .wrap {color: #000;display: block;padding-top: 40px;}
.world {background: url(../images/demo/section4.jpg) no-repeat;}
.world a {margin-top: 60px;}
.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3 {height: 0 !important;max-width: 100%;width: 100%; padding: 25%; background: #000;}
#questSide {max-width: 700px;}
#questionWrap {position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
    position: sticky; top: 0; z-index: 99;}
 #qW {/*position: fixed; width: 50%;*/ z-index: 20;} 
 .compact {height: 270px;margin-bottom: 110px;}
.compact #qW {position: fixed;width: 50%;}
#qW h2 {color: #fff; border: 0;}
#qW .head {box-sizing: border-box;margin: 0;margin-top: 6px;padding: 0 6px 9px;position: absolute;width: 100%;z-index: 20; max-width: 700px;}
 
#qW .head2 {background: #fff;box-sizing: border-box;margin: 0;padding: 4px 6px;width: 100%;z-index: 20;}
#qW .video-js .vjs-control-bar {bottom: 0;}
.questIcon {box-sizing: border-box;float: right;padding: 13px 13px 0 0; display: none;}
.questIcon .expand {background: url(../images/icon/expandArr.png) center no-repeat;display: inline-block;height: 15px;margin-right: 10px;width: 15px;}
.questIcon .hash {background: url(../images/icon/hashteg.png) center no-repeat;display: inline-block;height: 15px;width: 15px;}
.question {background: #ff2637;box-sizing: border-box;clear: both;color: #fff;padding: 6px 6px 4px; max-width: 700px;}
.question .questBox {background: #fff;overflow: hidden;text-align: center;width: 100%;}

.question .realHeight {height: auto;overflow: none;}
.fixcompact {margin-top: 446px !important;}
.question .questBox img {cursor: pointer;margin: 0 auto; }
.question .realHeight img {margin-top: 0;}
.compact2 .questBox {height: 41px;overflow: hidden;}
.compact2 #questSide {transition: all 1s;}
.question .infoBox {margin-top: 3px; position: relative;}
.question .avatar {border: 5px solid #ff2637; border-radius: 100%; height: 50px; width: 50px !important; margin-top: -25px; position: absolute; margin-left: calc(50% - 25px); z-index: 99;}
.question .ico {margin-left: 20px; display: none;}
.question .user div a {color: #fff;font-size: 16px;}

.question .soc {float: right;text-align: right;}
.question .like {background: url(../images/icon/2018/likeW.png) no-repeat;}
.question .dislike {background: url(../images/icon/2018/dlikeW.png) no-repeat;}

.question .subscribe {display: none;font-size: 11px;height: auto;margin-top: 5px;overflow: auto;padding: 0;}
.question .subscribe a {border: 1px solid #fff;font-size: 11px !important;padding: 4px;}

#addAnswer {text-align: center; background: #fdef48; padding: 10px 30px 40px; box-sizing: border-box; margin: 10px 0; max-width: 700px;}
#addAnswer a {color: #000; text-transform: uppercase; background: #fff; display: block; line-height: 60px; max-width: 420px; margin: 30px auto; border-radius: 100px; box-sizing: border-box; font-weight: 600; font-size: 18px; letter-spacing: 1px;}
#addAnswer a:hover {}
#addAnswer #timer {}
#addAnswer h3 {}
#addAnswer .time {font-size: 60px; font-weight: 600;}
#addAnswer p {}



.answerWrap {box-sizing: border-box;clear: both;color: #000;margin-top: 0;padding-bottom: 1px;}
.answerWrap .row {margin: 0; background: none;}
.answerWrap h3 {margin: 0 13px 0 1px;}
.answerWrap .browse {padding: 0;}
.commentWrap {background: #fff;box-sizing: border-box;clear: both;color: #000;padding-bottom: 1px; display: none;}
.commentWrap .item {background: #f2f2f2;border: 5px solid #f2f2f2;font-size: 13px;margin-bottom: 10px;padding: 10px;position: relative;}
.commentWrap .img {height: 200px;overflow: hidden;}
.commentWrap .comment {margin-bottom: 15px;}
.commentWrap h3 {margin: 18px 0 0 1px;}
#commentBut {float: right;margin-top: 11px;}
#commentBut .addFile {float: left;margin-right: 20px;margin-top: 10px;}
#commentNow {position: relative;}
#commentNow #msg {font-size: 14px;height: 100px;margin: 10px 0;width: 100%;}
.answerWrap .img {background: #000;text-align: center;z-index: 10; max-height: 306px;}
.answerWrap .img:hover {height: auto;overflow: none;}
.answerWrap .item {box-sizing: border-box;display: block;float: none;margin: 0;margin-bottom: 3px; position: relative;vertical-align: top;width: 100% ;z-index: 9; background: #fff; margin-bottom: 20px;}

.answerWrap .item .like {background: url(../images/icon/2018/likeB.png) no-repeat;}
.answerWrap .item .dislike {background: url(../images/icon/2018/dlikeB.png) no-repeat;}

.answerWrap .authorblock {background: #ff2637;color: #fff;font-size: 11px;}
.answerWrap .authorblock h3 {font-weight: 400;margin-bottom: 10px;}
.answerWrap .head {position: absolute; z-index: 999; color: #fff; width: 98%;}
.answerWrap .head h2 {border: none;}
.answerWrap #sort {top: 13px;}
#otherQuest {background: #fff;display: inline-block; position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
    position: sticky; top: 0; vertical-align: top; width: 250px; height: 100%; border-top: 13px solid #f2f2f2;}
#otherQuest .item .avatar {border-radius: 100%; height: 35px; width: 35px !important; border: 5px solid #ffffff; margin-top: -7px; position: unset; margin-left: 0; z-index: 99;}
.oqfix {bottom: 20px;margin-left: 4px;position: fixed;}
.fixoq {background: #fff; margin-left: -13px;padding: 0 6px; position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
    position: sticky; top: 16px; width: 213px;}
#otherQuest .browse {/*position: fixed;*/ padding: 0; height: 100%; padding-bottom: 160px;}
#otherQuest .item {box-sizing: border-box;float: none;margin: 0;margin-bottom: 10px;padding: 0 25px 0 0;width: 100%;}
#otherQuest .row {margin-top: 3px;}
#otherQuest .head {background: #fff;height: 60px;margin: 0;position: relative;width: 100%;z-index: 90;}
#otherQuest .vis {background: url(../images/icon/visible.png) no-repeat;background-size: cover;display: block;float: right;height: 15px;margin-right: 6px;margin-top: 13px;width: 15px;}
#otherQuest .active {background: url(../images/icon/visibleActive.png) no-repeat;background-size: cover;height: 15px;width: 15px;}
#otherQuest .vis:hover {background: url(../images/icon/visibleActive.png) no-repeat;background-size: cover;height: 15px;width: 15px;}
#otherQuest .imgitem {height: auto;}
.visActive {opacity: .4;}
.visActive:hover {opacity: 1;}
.contWrap {background: #fff;margin: 13px;padding: 13px;}
.contWrap h2 {border-left: 3px solid #ff2637;display: inline-block;font-size: 16px;line-height: 17px;margin-bottom: 20px;margin-right: 30px;padding-left: 8px;}
.contWrap h3 {border-left: 3px solid #ff2637;display: inline-block;font-size: 14px;line-height: 17px;margin-bottom: 20px;margin-right: 30px;padding-left: 8px;}
.stepsAdd {clear: both;}
.stepsAdd h4 {font-size: 13px;font-weight: 400;margin-bottom: 5px;}
.step {border-right: 5px solid #fff;box-sizing: border-box;float: left;width: 33.3%;}
.step div {background: #d2d1ce;height: 5px;width: 100%;}
.step div span {display: block;height: 5px;transition: all .9s;webkit-transition: all .9s;}
.stepsAdd .long {border: 0;width: 66.6%;}
.stepsAdd .long div span {}
.stepsAdd .long span {}
.step50 {background: #71ce0d;width: 50%;}
.stepAction {clear: both;margin-top: 20px;}
.step1 {display: none;}
.step1 div {box-sizing: border-box;cursor: pointer;display: inline-block;min-height: 100px;min-width: 300px;padding: 20px;position: relative;transition: all .9s;vertical-align: top;webkit-transition: all .9s;width: 33%;}
.step1 div:hover {background: #f6f7f6;}
.step1 div img {position: absolute;width: 50px;}
.step1 div span {color: #000;display: block;font-size: 12px;margin-left: 70px;padding-right: 30px;position: relative;}
.step1 div h4 {font-size: 13px;margin-bottom: 10px;}
#drop {border: 2px dashed #ccc;border-radius: 3px;cursor: move;font-size: 16px;margin-bottom: 30px;margin-top: 20px;padding: 40px 50px;text-align: center;}
#drop span {display: block;margin-bottom: 10px;}
#drop a {font-size: 16px;}
#drop input {display: none;}
#drop div span {border-top: 1px dotted #ccc;display: inline-block;font-size: 10px;font-size: 12px;margin-top: 20px;padding-top: 13px;}
#drop div a {font-size: 12px;text-decoration: underline;}
.wellcome {box-sizing: border-box;margin: 0 auto;max-width: 350px;padding: 20px;}
.login {}
.login li {display: inline-block;list-style: none;margin-right: 10px;}
.login li a {color: #333;}
.login li a:hover {color: #999;}
.login .active a {border-left: 3px solid #ff2637;box-sizing: border-box;color: #000;display: block;font-size: 20px;font-weight: 700;line-height: 20px;padding-left: 8px;}
.loginForm {text-align: center;}
.loginForm div {margin-bottom: 20px;text-align: left;}
.loginForm input {margin-top: 15px;width: 100%;}
.loginForm select {color: #aaa;margin-top: 15px;width: 100%;}
.loginForm button {font-size: 14px;font-weight: 700;padding: 12px 45px;}
.loginForm a {border-bottom: 1px dotted #e88686;color: #e88686;display: inline-block;font-size: 12px;margin-top: 10px;}
.loginForm a:hover {color: #333;}
.authForm {display: none;}
.regForm {}
.settingRow {box-sizing: border-box;padding: 6px;width: 100%;}
.settingRow h5 {font-size: 15px;text-align: center;}
.settingItem {border-bottom: 1px solid #e6e3e3;margin-bottom: 10px;padding-bottom: 10px;}
.settingItem input[type=text],
.settingItem input[type=email],
.settingItem input[type=password] {width: 100%;}
.settingItem h6 {font-size: 13px;margin-bottom: 6px;}
.settingItem i {font-size: 13px;font-style: normal;font-weight: 700;line-height: 25px;}
.settingItem .switch {float: right;}
.switch {display: inline-block;moz-user-select: none;ms-user-select: none;position: relative;user-select: none;vertical-align: top;webkit-user-select: none;width: 58px;}
.switch > label {background: #fff;border: 2px solid #d9d9d9;border-radius: 13px;box-sizing: border-box;color: #bbb;display: block;font-size: 10px;font-weight: 700;height: 25px;line-height: 20px;moz-transition: .15s ease-out;o-transition: .15s ease-out;position: relative;text-align: center;text-transform: uppercase;transition: .15s ease-out;webkit-transition: .15s ease-out;}
.switch > label:before {content: attr(data-off);position: absolute;right: 3px;top: 0;width: 33px;}
.switch > label:after {background: #ccc;border-radius: 13px;content: '';display: block;height: 17px;margin: 2px;width: 17px;}
.switch > input {height: inherit;left: 0;opacity: 0;position: absolute;top: 0;webkit-appearance: none;width: inherit;}
.switch > input:focus {outline: 0;}
.switch > input:focus + label {border-color: #3fb6f2;color: #10a4ee;}
.switch > input:focus + label:after {background: #3fb6f2;}
.switch > input:checked + label {background: #3fb6f2;border-color: #3fb6f2;color: #fff;padding-left: 33px;}
.switch > input:checked + label:before {content: attr(data-on);left: 1px;}
.switch > input:checked + label:after {background: #fff;height: 19px;margin: 1px;width: 19px;}
.switch > input:checked:focus + label {background: #10a4ee;border-color: #10a4ee;}
.switch-square > label {border-radius: 2px;}
.switch-square > label:before {width: 25px;}
.switch-square > label:after {border-radius: 1px;width: 21px;}
.switch-square > input:checked + label {padding-left: 29px;}
.switch-square > input:checked + label:after {width: 23px;}
.switch-green > input:checked + label {background: #4ebd4a;border-color: #4ebd4a;}
.switch-green > input:checked:focus + label {background: #3c9b39;border-color: #3c9b39;}
.lt-ie9 .switch {background: #fff;border: 2px solid #d9d9d9;height: 21px;width: 54px;}
.lt-ie9 .switch > label {display: none;}
.lt-ie9 .switch > input {height: inherit;position: static;vertical-align: top;width: inherit;}
.htags {box-sizing: border-box;padding: 0 6px 10px;}
.htags li {display: inline-block;margin-right: 5px;}
.htags li a {}
.htags li a:hover {}
.ban {margin-right: -57px;position: absolute;right: 50%;top: 12px;z-index: 9;}
.mobAuthorAnswer {display: none;}
.mobSoc {display: none;}
#mobLogin {display: none;}
.baron {border: 0;box-sizing: border-box;display: inline-block;height: 100%;margin: 0;overflow: hidden;overflow-y: scroll;padding-bottom: 40px;position: fixed !important;position: relative;text-align: left;vertical-align: middle;white-space: normal;width: 285px;}
.baron2 {border: 0;box-sizing: border-box;display: inline-block;height: 100%;margin: 0;overflow: hidden;overflow-y: scroll; /*position: fixed !important;*/position: relative;text-align: left;vertical-align: middle;white-space: normal;width: 250px;}
.baron__clipper {overflow: hidden;position: relative;z-index: 99;}
.baron__scroller {border: 0;box-sizing: border-box;height: 100%;margin: 0;moz-box-sizing: border-box;ms-overflow-style: none;overflow-y: scroll;padding: 0;webkit-overflow-scrolling: touch;width: 100%;z-index: 99;}
.baron__scroller::-webkit-scrollbar {width: 0;}
.baron__track {bottom: 0;position: absolute;right: 20px;top: 0;}
.baron__free {bottom: 0;position: absolute;right: 20px;top: 0;}
.baron__bar {background: #999;position: absolute;right: 20px;width: 10px;z-index: 1;}
.baron__control {display: none;}
.baron._simple .baron__track {background: #ddf;background: rgba(0, 0, 255, .1);border-radius: 5px;bottom: 10px;opacity: 0;pointer-events: none;position: absolute;right: 5px;top: 10px;width: 8px;z-index: 3;}
.baron._simple.baron .baron__track {opacity: 1;}
.baron._simple .baron__bar {background: #987;border-radius: 3px;opacity: 0;pointer-events: auto;position: absolute;transition: opacity .2s linear;webkit-transition: opacity .2s linear;width: 8px;z-index: 1;}
.baron._simple .baron__bar:hover {opacity: .8;}
.baron._simple.baron .baron__bar {opacity: .6;}
.baron._macosx .baron__track {bottom: 2px;opacity: 0;position: absolute;right: 2px;top: 2px;width: 0;z-index: 998;}
.baron._macosx._scrollbar .baron__track {opacity: 1;}
.baron._macosx .baron__bar {background: #333;border-radius: 3px;opacity: 0;pointer-events: auto;position: absolute;transition: .1s opacity .4s linear;width: 6px;z-index: 999;}
.baron__bar._dragging {}
.baron._macosx .baron__bar:hover,
.baron._scrolling .baron__bar {opacity: .5;transition-delay: 0s;transition-duration: 0s;}
.editImg {margin-bottom: 30px;position: relative; max-width: 500px;}
.editImg a {display: block; overflow: hidden;}
.editImg img {width: 100%;}
.editImg span {background: rgba(246, 11, 11, .39);color: #fff;height: 100%;left: 0;line-height: 200px;position: absolute;text-align: center;text-decoration: underline;top: 0;transition: all .9s;webkit-transition: all .9s;width: 100%;}
.editFile textarea {width: 100%;}
textarea {height: 69px;line-height: 19px;overflow: auto;padding: 4px 8px;resize: none;}
.editFile input {width: 100%;}
.editFile h4 {margin-bottom: 10px;}
.txtLow {padding: 10px;}
.txtLow .list {margin: 20px;}
.txtLow .list li {list-style-type: circle;}
.authorSay {left: 7px;position: absolute;top: 7px;z-index: 12;}
.comment-choose {display: none;}
#qW .claim {}
#qW .claim a {color: #20080a;}
#qW .claim a:hover {color: #fff;}
.claim {float: right;}
.claim a {border-bottom: 1px dotted;color: #f26d6d;font-size: 11px;}
.claim a:hover {color: #666;}
.userRating {}
.userR {border-bottom: 1px dotted #999;padding: 10px 0;}
.userR div {display: inline-block;padding: 0 10px;vertical-align: middle;}
.userR .userRpoint {}
.userR .userRimg {}
.userR .userRnick {}
.userR .userRball {}
.userR .userRball img {width: 10px;}
.bbWrap {padding-top: 20px;}
.bb {border-bottom: 1px dotted #999;clear: both;display: flex;padding: 10px 0;}
.bb div {float: left;width: 33.3%;}
.bbWrap .last {border: 0;}
.bbName {text-align: left;}
.bbPrice {text-align: center;}
.bbPrice span {display: inline-block;margin-left: -50px;text-align: right;width: 100px;}
.bbPrice img {vertical-align: middle;width: 20px;}
.bbText {text-align: right;}
.queRed {background: url(../images/icon/setting.png) right 5px top 5px no-repeat rgba(0, 0, 0, 0.45); top: 0px; height: 25px; position: absolute; right: 0px; z-index: 13; width: 100%;    background-size: 15px;}
.godMode {background: url(../images/icon/crosshair.png) center no-repeat #191919;background-size: 60%;height: 25px;margin-right: -12px;position: absolute;right: 50%;top: 12px;width: 25px;z-index: 11;}
.godMode:hover div {display: block;}
.godMode div {background: #191919;background: #ccc;display: none;float: right;margin-top: 25px;padding: 10px;text-align: right;width: 250px;}
.godMode div a {color: #f2f2f2;display: block;font-size: 12px;padding: 3px 0;}
.godMode div a:hover {color: #333;}
.modalBg {background: rgba(0, 0, 0, .84);box-sizing: border-box;height: 100%;left: 0;overflow: auto;padding: 5%;position: fixed;top: 0;width: 100%;z-index: 10000;}
.modalContent {background: #fff;box-sizing: border-box;display: table;height: 80%;margin: 0 auto;padding: 15px;position: relative;width: 80%;}
.modalContent .img {height: auto;}
.mC {display: table-cell;vertical-align: middle;}
.modalContent h2 {border-left: 3px solid #ff2637;display: inline-block;font-size: 20px;line-height: 17px;margin: 10px 0 10px 9px;margin-right: 30px;padding-left: 8px;}
.modalItem {box-sizing: border-box;float: left;margin: 20px 0 40px;width: 50%;}
.mC .single {float: none;margin: 0 auto;}
.qItem {background: #ff2637;padding: 9px;}
.qItem .questBox {background: #fff;}
.aItem {background: #f2f2f2;padding: 9px;}
.qItem .imgitem,
.aItem .imgitem {margin: 0 auto;max-width: 100%;}
.srav {display: block;text-align: center;}
.srav img {width: 30px;}
.closeModal {}
.aItem .vjs_video_3-dimensions.vjs-fluid {padding-top: 67% !important;}
.mobsrav {display: none;}
.addbtn {margin-bottom: 20px;padding: 10px;}
#files-outer .img {max-height: 160px;overflow: hidden;position: relative;}
#loader-wrapper {background: rgba(9, 9, 9, .9);display: none;height: 100%;left: 0;overflow: hidden;position: fixed;top: 0;width: 100%;z-index: 1000;}
#preloader {height: 40px;left: 50%;margin-left: -20px;margin-top: -20px;position: relative;top: 50%;width: 40px;}
#preloader span {background: #9b59b6;bottom: 0;display: block;height: 20px;position: absolute;width: 20px;}
#preloader span:nth-child(1) {animation: preloader_2_1 1.5s infinite ease-in-out;moz-animation: preloader_2_1 1.5s infinite ease-in-out;webkit-animation: preloader_2_1 1.5s infinite ease-in-out;}
#preloader span:nth-child(2) {animation: preloader_2_2 1.5s infinite ease-in-out;left: 20px;moz-animation: preloader_2_2 1.5s infinite ease-in-out;webkit-animation: preloader_2_2 1.5s infinite ease-in-out;}
#preloader span:nth-child(3) {animation: preloader_2_3 1.5s infinite ease-in-out;moz-animation: preloader_2_3 1.5s infinite ease-in-out;top: 0;webkit-animation: preloader_2_3 1.5s infinite ease-in-out;}
#preloader span:nth-child(4) {animation: preloader_2_4 1.5s infinite ease-in-out;left: 20px;moz-animation: preloader_2_4 1.5s infinite ease-in-out;top: 0;webkit-animation: preloader_2_4 1.5s infinite ease-in-out;}
@-webkit-keyframes preloader_2_1 {0% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #3498db;border-radius: 20px;webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);}
    80% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(-360deg);}
}
@-moz-keyframes preloader_2_1 {0% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #3498db;border-radius: 20px;moz-transform: translateX(-20px) translateY(-10px) rotate(-180deg);}
    80% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(-360deg);}
}
@keyframes preloader_2_1 {0% {border-radius: 0;transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #3498db;border-radius: 20px;transform: translateX(-20px) translateY(-10px) rotate(-180deg);}
    80% {border-radius: 0;transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;transform: translateX(0) translateY(0) rotate(-360deg);}
}
@-webkit-keyframes preloader_2_2 {0% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #f1c40f;border-radius: 20px;webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);}
    80% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(360deg);}
}
@-moz-keyframes preloader_2_2 {0% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #f1c40f;border-radius: 20px;moz-transform: translateX(20px) translateY(-10px) rotate(180deg);}
    80% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(360deg);}
}
@keyframes preloader_2_2 {0% {border-radius: 0;transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #f1c40f;border-radius: 20px;transform: translateX(20px) translateY(-10px) rotate(180deg);}
    80% {border-radius: 0;transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;transform: translateX(0) translateY(0) rotate(360deg);}
}
@-webkit-keyframes preloader_2_3 {0% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #2ecc71;border-radius: 20px;webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);}
    80% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(-360deg);}
}
@-moz-keyframes preloader_2_3 {0% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #2ecc71;border-radius: 20px;moz-transform: translateX(-20px) translateY(10px) rotate(-180deg);}
    80% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(-360deg);}
}
@keyframes preloader_2_3 {0% {border-radius: 0;transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #2ecc71;border-radius: 20px;transform: translateX(-20px) translateY(10px) rotate(-180deg);}
    80% {border-radius: 0;transform: translateX(0) translateY(0) rotate(-360deg);}
    100% {border-radius: 0;transform: translateX(0) translateY(0) rotate(-360deg);}
}
@-webkit-keyframes preloader_2_4 {0% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #e74c3c;border-radius: 20px;webkit-transform: translateX(20px) translateY(10px) rotate(180deg);}
    80% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;webkit-transform: translateX(0) translateY(0) rotate(360deg);}
}
@-moz-keyframes preloader_2_4 {0% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #e74c3c;border-radius: 20px;moz-transform: translateX(20px) translateY(10px) rotate(180deg);}
    80% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;moz-transform: translateX(0) translateY(0) rotate(360deg);}
}
@keyframes preloader_2_4 {0% {border-radius: 0;transform: translateX(0) translateY(0) rotate(0);}
    50% {background: #e74c3c;border-radius: 20px;transform: translateX(20px) translateY(10px) rotate(180deg);}
    80% {border-radius: 0;transform: translateX(0) translateY(0) rotate(360deg);}
    100% {border-radius: 0;transform: translateX(0) translateY(0) rotate(360deg);}
}

.artViews {background: url(../images/icon/2018/view.png) 0px 2px no-repeat; color:#fff; float: right; padding-left: 20px; margin-top: 10px; margin-right: 10px; font-size: 12px;} 
.topNav {margin-top: -67px;}
.topQw {margin-top: -63px;}
