/*
 * Copyright (c) 2013 Thibaut Courouble
 *
 * This code is the result of hours of hard work.
 * Please don't copy unless you own a license.
 *
 * You can purchase a license at:
 * http://www.cssflow.com/ui-kits/flat
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input,
textarea,
select,
button,
label {
    margin: 0;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important
}

body {
    font: 13px/21px "Lucida Grande", Verdana, Arial, sans-serif;
    color: #3c3c3c;
    background: white
}

a {
    color: #06c;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

strong {
    font-weight: bold
}

input[type=text],
input[type=email],
input[type=url],
input[type=search],
textarea {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    height: 33px;
    line-height: 19px;
    color: #626262;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 2px
}

input[type=text]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=search]:hover,
textarea:hover {
    border-color: #ccc
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
    color: #3c3c3c;
    background: white;
    border-color: #3fb6f2;
    outline: none
}

textarea {
    padding: 4px 8px;
    height: 69px;
    line-height: 19px;
    overflow: auto;
    resize: none
}

:-moz-placeholder {
    color: #aaa !important
}

::-moz-placeholder {
    color: #aaa !important;
    opacity: 1
}

::-webkit-input-placeholder {
    color: #aaa
}

:-ms-input-placeholder {
    color: #aaa
}

.lt-ie9 input {
    line-height: 29px
}

.search {
    position: relative
}

.search>input {
    width: 100%;
    height: 31px;
    padding: 0 13px 0 32px;
    border-radius: 16px
}

.search:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 11px;
    width: 6px;
    height: 6px;
    border: 2px solid #bbb;
    border-radius: 8px
}

.search:after {
    content: '';
    position: absolute;
    top: 19px;
    left: 18px;
    width: 6px;
    height: 2px;
    background: #bbb;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -1px 0 #bbb;
    box-shadow: -1px 0 #bbb
}

input[type=search] {
    -webkit-appearance: textfield
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.lt-ie9 .search:before,
.lt-ie9 .search:after {
    content: none
}

.lt-ie9 .search>input {
    padding: 0 7px
}

.option {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.option>input {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0
}

.checkbox,
.radio {
    display: block;
    height: 100%;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.checkbox:before,
.radio:before {
    content: '';
    display: none
}

input:hover+.checkbox,
input:hover+.radio,
.checkbox:hover,
.radio:hover {
    border-color: #ccc
}

input:focus+.checkbox,
input:focus+.radio,
input.focus+.checkbox,
input.focus+.radio {
    border-color: #3fb6f2
}

input:checked+.checkbox:before,
input:checked+.radio:before {
    display: block
}

.checkbox:before {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 7px;
    height: 3px;
    border: solid #aaa;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

input:focus+.checkbox:before,
input.focus+.checkbox:before {
    border-color: #19a7ef
}

.radio {
    border-radius: 9px
}

.radio:before {
    margin: 4px;
    width: 6px;
    height: 6px;
    background: #aaa;
    border-radius: 3px
}

input:focus+.radio:before,
input.focus+.radio:before {
    background: #19a7ef
}

.lt-ie9 .option>input {
    position: static;
    padding: 0
}

.lt-ie9 .checkbox,
.lt-ie9 .radio {
    display: none
}

.select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 200px;
    height: 33px;
    background: #f4f6fb;
    border: 2px solid #d3dae7;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.select:hover {
    border-color: #c5cddf
}

.select>select {
    display: block;
    width: 100%;
    height: 29px;
    line-height: 17px;
    margin: 0;
    padding: 6px;
    padding-left: 9px;
    color: #626262;
    background: #f4f6fb;
    border: 0;
    -webkit-appearance: none
}

.select>select:focus {
    color: #3c3c3c;
    outline: 2px solid #3fb6f2;
    outline-offset: 0;
    -moz-outline-radius: 2px
}

.select>select::-ms-expand {
    display: none
}

.select:before,
.select:after {
    content: '';
    position: absolute;
    pointer-events: none
}

.select:before {
    top: 0;
    bottom: 0;
    right: 0;
    width: 29px;
    background: inherit
}

.select:after {
    top: 13px;
    right: 13px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #9095a0
}

.switch {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 58px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.switch>label {
    display: block;
    position: relative;
    height: 25px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 13px;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out
}

.switch>label:before {
    content: attr(data-off);
    position: absolute;
    top: 0;
    right: 3px;
    width: 33px
}

.switch>label:after {
    content: '';
    display: block;
    margin: 2px;
    width: 17px;
    height: 17px;
    background: #ccc;
    border-radius: 13px
}

.switch>input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    -webkit-appearance: none
}

.switch>input:focus {
    outline: none
}

.switch>input:focus+label {
    color: #10a4ee;
    border-color: #3fb6f2
}

.switch>input:focus+label:after {
    background: #3fb6f2
}

.switch>input:checked+label {
    padding-left: 33px;
    color: white;
    background: #3fb6f2;
    border-color: #3fb6f2
}

.switch>input:checked+label:before {
    content: attr(data-on);
    left: 1px
}

.switch>input:checked+label:after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background: white
}

.switch>input:checked:focus+label {
    background: #10a4ee;
    border-color: #10a4ee
}

.switch-square>label {
    border-radius: 2px
}

.switch-square>label:before {
    width: 25px
}

.switch-square>label:after {
    width: 21px;
    border-radius: 1px
}

.switch-square>input:checked+label {
    padding-left: 29px
}

.switch-square>input:checked+label:after {
    width: 23px
}

.switch-green>input:checked+label {
    background: #4ebd4a;
    border-color: #4ebd4a
}

.switch-green>input:checked:focus+label {
    background: #3c9b39;
    border-color: #3c9b39
}

.lt-ie9 .switch {
    width: 54px;
    height: 21px;
    background: white;
    border: 2px solid #d9d9d9
}

.lt-ie9 .switch>label {
    display: none
}

.lt-ie9 .switch>input {
    position: static;
    width: inherit;
    height: inherit;
    vertical-align: top
}

.valid,
.invalid {
    display: inline-block;
    vertical-align: top;
    position: relative
}

.valid>input:focus,
.invalid>input:focus {
    position: relative;
    z-index: 2
}

.valid>input {
    color: #35491e;
    background: #e1fac9;
    border-color: #91c753
}

.valid>input:hover {
    border-color: #88bb50
}

.valid>input:focus {
    border-color: #3fb6f2
}

.valid:before {
    content: '';
    position: absolute;
    top: 11px;
    right: 10px;
    width: 10px;
    height: 4px;
    border: solid #61a136;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.invalid>input {
    color: #5f2423;
    background: #fbdbcf;
    border-color: #f3746d
}

.invalid>input:hover {
    border-color: #e46b66
}

.invalid>input:focus {
    border-color: #3fb6f2
}

.invalid:before,
.invalid:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 14px;
    width: 3px;
    height: 12px;
    background: #e84c4a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.invalid:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.lt-ie9 .valid:before,
.lt-ie9 .valid:after,
.lt-ie9 .invalid:before,
.lt-ie9 .invalid:after {
    display: none
}

.button {
    display: inline-block;
    vertical-align: top;
    height: 33px;
    line-height: 1;
    padding: 0 16px;
    font-size: 13px;
    color: #243140;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background: #e5e7ed;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.button:hover {
    color: #243140;
    background: #dcdfe7
}

.button:active,
.button-dropdown:hover>.toggle,
.button-dropdown.open>.toggle,
.button.active {
    color: #1d2938;
    background: #cdd1dc
}

a.button {
    line-height: 33px;
    text-decoration: none
}

.button-blue {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #00acee
}

.button-blue:hover {
    color: white;
    background: #18bfff
}

.button-blue:active,
.button-blue.active {
    color: white;
    background: #0087bb
}

.button-green {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #4ebd4a
}

.button-green:hover {
    color: white;
    background: #6bc868
}

.button-green:active,
.button-green.active {
    color: white;
    background: #3c9b39
}

.button-red {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #ee4f3d
}

.button-red:hover {
    color: white;
    background: #f17163
}

.button-red:active,
.button-red.active {
    color: white;
    background: #e42914
}

.button-purple {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #9464e2
}

.button-purple:hover {
    color: white;
    background: #ac86e8
}

.button-purple:active,
.button-purple.active {
    color: white;
    background: #7639da
}

.button-orange {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #faa226
}

.button-orange:hover {
    color: white;
    background: #fbb34e
}

.button-orange:active,
.button-orange.active {
    color: white;
    background: #e88a05
}

.button-dark-blue {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #3061a3
}

.button-dark-blue:hover {
    color: white;
    background: #3974c3
}

.button-dark-blue:active,
.button-dark-blue.active {
    color: white;
    background: #244a7c
}

.button-#000 {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
    background: #3c3c3c
}

.button-#000:hover {
    color: white;
    background: #505050
}

.button-#000:active,
.button-#000.active {
    color: white;
    background: #232323
}

.button-group {
    display: inline-block;
    vertical-align: top;
    height: 31px;
    font-size: 0;
    white-space: nowrap
}

.button-group>.button {
    position: relative;
    height: auto;
    line-height: 31px;
    padding: 0 15px;
    border-radius: 0
}

.button-group>.button.active {
    z-index: 1;
    top: -4px;
    line-height: 35px;
    padding: 0 17px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 4px
}

.button-group>.button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.button-group>.button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}

.button-dropdown {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 33px;
    font-size: 0;
    white-space: nowrap
}

.button-dropdown>.button {
    height: inherit;
    line-height: 33px;
    padding: 0 13px;
    border-radius: 2px 0 0 2px
}

.button-dropdown>.button:focus {
    position: relative;
    z-index: 1
}

.button-dropdown>.toggle {
    position: relative;
    width: 33px;
    font: 0/0 serif;
    color: transparent;
    border-radius: 0 2px 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-dropdown>.toggle:before,
.button-dropdown>.toggle:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 11px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #71737f
}

.button-dropdown>.toggle:before {
    margin-top: 1px;
    border-top-color: rgba(255, 255, 255, 0.2)
}

.button-dropdown:hover>.dropdown,
.button-dropdown.open>.dropdown {
    display: block
}

.button-dropdown:hover>.toggle,
.button-dropdown.open>.toggle {
    color: transparent
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 2px
}

.dropdown:hover {
    display: block
}

.dropdown>li+li {
    margin-top: 2px
}

.dropdown-link {
    display: block;
    position: relative;
    padding: 0 13px;
    line-height: 33px;
    font-size: 13px;
    color: #243140;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background: #eaedf5
}

.dropdown-link:hover {
    text-decoration: none;
    background: #dce1ee
}

.dropdown-link:focus {
    z-index: 1
}

li:first-child>.dropdown-link {
    margin-top: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

li:first-child>.dropdown-link:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px outset transparent;
    border-bottom: 6px solid #eaedf5
}

li:first-child>.dropdown-link:hover:before {
    border-bottom-color: #dce1ee
}

li:last-child>.dropdown-link {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.button-prev,
.button-next {
    position: relative;
    height: 33px;
    width: 33px;
    padding: 0;
    font: 0/0 serif;
    color: transparent
}

.button-prev:before,
.button-next:before,
.button-prev:after,
.button-next:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border: 5px outset transparent
}

.button-prev:before,
.button-next:before {
    margin-top: -4px
}

.button-prev:before,
.button-prev:after {
    left: 49%;
    margin-left: -10px;
    border-right: 8px solid #71737f
}

.button-prev:before {
    border-right-color: rgba(255, 255, 255, 0.2)
}

.button-next:before,
.button-next:after {
    right: 49%;
    margin-right: -10px;
    border-left: 8px solid #71737f
}

.button-next:before {
    border-left-color: rgba(255, 255, 255, 0.2)
}

.lt-ie9 .button-prev:before,
.lt-ie9 .button-next:before,
.lt-ie9 .button-prev:after,
.lt-ie9 .button-next:after {
    border-style: solid
}

.pagination {
    position: relative;
    height: 34px;
    line-height: 12px;
    padding: 11px 47px;
    text-align: center;
    background: #f2f4fa;
    border-radius: 2px;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.pagination>.button {
    position: absolute;
    top: 0;
    width: 34px;
    height: 34px
}

.pagination>.button-prev {
    left: 0;
    border-radius: 2px 0 0 2px
}

.pagination>.button-next {
    right: 0;
    border-radius: 0 2px 2px 0
}

.pagination-link,
.pagination-current {
    display: inline-block;
    vertical-align: top;
    margin: 1px 2px;
    width: 10px;
    height: 10px;
    font: 0/0 serif;
    color: transparent;
    background: #d3d6e0;
    border-radius: 6px
}

.pagination-link:hover {
    background: #c1c6d4
}

.pagination-current {
    margin-top: 0;
    margin-bottom: 0;
    width: 12px;
    height: 12px;
    background: #c1c6d4
}

.heading {
    overflow: hidden;
    line-height: 35px;
    padding: 0 14px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #d7ebf8;
    border-radius: 2px
}

.heading>h2 {
    float: left;
    font-size: 14px;
    font-weight: bold
}

.heading-links {
    float: right;
    margin: 0 -14px 0 14px
}

.heading-links>li {
    float: left
}

.heading-link {
    display: block;
    padding: 0 12px
}

.heading-link:hover {
    text-decoration: none;
    background: #c6e2f5
}

li:last-child>.heading-link {
    border-radius: 0 2px 2px 0
}

.breadcrumbs {
    overflow: hidden;
    line-height: 33px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #d7ebf8;
    border-radius: 2px
}

.breadcrumbs>li {
    float: left
}

.breadcrumbs .current {
    padding: 0 13px 0 33px;
    font-weight: bold;
    color: #3c3c3c
}

.breadcrumbs .current:hover {
    background: none
}

.breadcrumb {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 9px 0 33px
}

.breadcrumb:hover {
    text-decoration: none;
    background: #c6e2f5
}

.breadcrumb:before,
.breadcrumb:after {
    content: '';
    position: absolute;
    top: -16px;
    left: -13px;
    width: 0;
    height: 0;
    border: 33px outset transparent;
    border-left: 33px solid #fff;
    pointer-events: none
}

.breadcrumb:after {
    left: -16px;
    border-left-color: #d7ebf8
}

li:hover+li>.breadcrumb:before {
    border-top: 33px solid #d7ebf8;
    border-bottom: 33px solid #d7ebf8
}

li:hover+li>.breadcrumb:after {
    border-left-color: #c6e2f5
}

li:first-child>.breadcrumb {
    padding-left: 13px
}

li:first-child>.breadcrumb:before,
li:first-child>.breadcrumb:after {
    display: none
}

.alert {
    position: relative;
    line-height: 27px;
    padding: 4px 38px 4px 14px;
    color: #424239;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #fcf0b0;
    border-radius: 2px
}

.alert.notice {
    color: #324431;
    background: #bff1bc
}

.alert-close {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
    padding: 4px 12px;
    font: 24px/24px Arial, sans-serif;
    color: inherit;
    text-shadow: none;
    opacity: .6
}

.alert-close:hover {
    text-decoration: none;
    opacity: .9
}

.table {
    width: 100%;
    line-height: 33px;
    text-align: left;
    background: white;
    border: 2px solid #d7ebf8;
    border-collapse: separate;
    border-radius: 2px
}

.table-head>tr>th {
    line-height: 31px;
    padding: 0 11px 2px;
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background: #d7ebf8
}

.table-body>tr:nth-child(2n) {
    background: #f6f9fb
}

.table-body>tr:hover {
    background: #eef6fa
}

.table-body>tr>td {
    padding: 0 11px
}

.progress {
    position: relative;
    height: 16px;
    background: #f2f4fa;
    border-radius: 2px
}

.progress>span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 16px;
    background: #3fb6f2;
    background-size: 16px 16px;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top left, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-image: -moz-linear-gradient(top left, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-image: -o-linear-gradient(top left, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-image: linear-gradient(to bottom right, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15))
}

.progress:hover>span {
    animation: progress .6s linear infinite;
    -webkit-animation: progress .6s linear infinite
}

.progress-green>span {
    background-color: #4ebd4a
}

@keyframes progress {
    from {
        background-position: 0 0
    }
    to {
        background-position: -16px 0
    }
}

@-webkit-keyframes progress {
    from {
        background-position: 0 0
    }
    to {
        background-position: -16px 0
    }
}

.tooltip {
    position: absolute;
    z-index: 10;
    padding: 6px 10px;
    max-width: 200px;
    line-height: 20px;
    font-size: 12px;
    color: white;
    text-align: center;
    background: #3c3c3c;
    border-radius: 2px
}

.tooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent
}

.tooltip-up:before {
    bottom: -12px;
    left: 50%;
    margin-left: -6px;
    border-top-color: #3c3c3c
}

.tooltip-down:before {
    top: -12px;
    left: 50%;
    margin-left: -6px;
    border-bottom-color: #3c3c3c
}

.tooltip-left:before {
    top: 50%;
    left: -12px;
    margin-top: -6px;
    border-right-color: #3c3c3c
}

.tooltip-right:before {
    top: 50%;
    right: -12px;
    margin-top: -6px;
    border-left-color: #3c3c3c
}