<table border="1">
<tr><td>Изменить</td><td width="50%"></td></tr>
<tr><td>Ваш язык "русский"</td><td width="50%"></td></tr>
<tr><td>Главная</td><td width="50%"></td></tr>
<tr><td>Кабинет</td><td width="50%"></td></tr>
<tr><td>Панель управления</td><td width="50%"></td></tr>
<tr><td>Мое меню</td><td width="50%"></td></tr>
<tr><td>Мои данные</td><td width="50%"></td></tr>
<tr><td>Мои вопросы</td><td width="50%"></td></tr>
<tr><td>Мои темы</td><td width="50%"></td></tr>
<tr><td>Вы еще не создали ни одной темы</td><td width="50%"></td></tr>
<tr><td>Добавить</td><td width="50%"></td></tr>
<tr><td>Редактировать</td><td width="50%"></td></tr>
<tr><td>Удалить</td><td width="50%"></td></tr>
<tr><td>Развернуть</td><td width="50%"></td></tr>
<tr><td>Свернуть</td><td width="50%"></td></tr>
<tr><td>Поиск</td><td width="50%"></td></tr>
<tr><td>Данные обновлены</td><td width="50%"></td></tr>
<tr><td>Главная</td><td width="50%"></td></tr>
<tr><td>Профиль</td><td width="50%"></td></tr>
<tr><td>Новые вопросы</td><td width="50%"></td></tr>
<tr><td>Популярные вопросы</td><td width="50%"></td></tr>
<tr><td>Просмотренные вопросы</td><td width="50%"></td></tr>
<tr><td>Понравившиеся вопросы</td><td width="50%"></td></tr>
<tr><td>Рекомендованные вопросы</td><td width="50%"></td></tr>
<tr><td>увидеть больше</td><td width="50%"></td></tr>
<tr><td>больше</td><td width="50%"></td></tr>
<tr><td>Поиск по хештегу #:tag</td><td width="50%"></td></tr>
<tr><td>Поиск по запросу :str</td><td width="50%"></td></tr>
<tr><td>Поиск</td><td width="50%"></td></tr>
<tr><td>Пользователи</td><td width="50%"></td></tr>
<tr><td>Да</td><td width="50%"></td></tr>
<tr><td>Нет</td><td width="50%"></td></tr>
<tr><td>аудио</td><td width="50%"></td></tr>
<tr><td>видео</td><td width="50%"></td></tr>
<tr><td>картинка</td><td width="50%"></td></tr>
<tr><td>Ответ верный</td><td width="50%"></td></tr>
<tr><td>Ответ неверный</td><td width="50%"></td></tr>
<tr><td>Автор еще не оценил ответ</td><td width="50%"></td></tr>
<tr><td>Удалить вопрос</td><td width="50%"></td></tr>
<tr><td>Удалить комментарий</td><td width="50%"></td></tr>
<tr><td>Удалить ответ</td><td width="50%"></td></tr>
<tr><td>Удалить вопрос и забанить пользователя</td><td width="50%"></td></tr>
<tr><td>Удалить комментарий и забанить пользователя</td><td width="50%"></td></tr>
<tr><td>Удалить ответ и забанить пользователя</td><td width="50%"></td></tr>
<tr><td>Сыграй вопрос</td><td width="50%"></td></tr>
<tr><td>Станцуй вопрос</td><td width="50%"></td></tr>
<tr><td>Нарисуй вопрос</td><td width="50%"></td></tr>
<tr><td>Задай вопрос движениями</td><td width="50%"></td></tr>
<tr><td>Задай вопрос голосом</td><td width="50%"></td></tr>
<tr><td>Раздел, где ты  задаешь вопрос  с помощью музыки  на любых инструментах, свистом, на  губах ,с помощью подручных предметов и т.д.</td><td width="50%"></td></tr>
<tr><td>Задаешь вопросы  с помощью танцев без ограничения по стилям и направлениям (один либо группой),возможно с помощью средств передвижения(коньки, велосипед и т.д.),подсобных предметов и т.д.</td><td width="50%"></td></tr>
<tr><td>Задаешь вопросы  с помощью фотографии, рисунка, красками ,на песке, на снегу, на воде, скульптурой, народными ремеслами, подручными предметами и т.д.</td><td width="50%"></td></tr>
<tr><td>Раздел , где ты  задаешь  вопросы  с помощью движений- пантомимы ,жестов , мимики(возможно с использованием предметов) и т.д.</td><td width="50%"></td></tr>
<tr><td>Задаешь вопросы  при помощи голоса(соло ,дуэтом,трио, и т.д.)спой, прокричи, прошипи и т.д.</td><td width="50%"></td></tr>
<tr><td>Настройки</td><td width="50%"></td></tr>
<tr><td>Вопросы</td><td width="50%"></td></tr>
<tr><td>Вопрос</td><td width="50%"></td></tr>
<tr><td>Ответы</td><td width="50%"></td></tr>
<tr><td>Сортировать</td><td width="50%"></td></tr>
<tr><td>В этой категории пока нет вопросов</td><td width="50%"></td></tr>
<tr><td>Отписаться</td><td width="50%"></td></tr>
<tr><td>Подписки</td><td width="50%"></td></tr>
<tr><td>Подписаться</td><td width="50%"></td></tr>
<tr><td>{0} подписчиков|{1} подписчик|[2,Inf] подписчиков</td><td width="50%"></td></tr>
<tr><td>просмотров</td><td width="50%"></td></tr>
<tr><td>Добавить ответ</td><td width="50%"></td></tr>
<tr><td>Смотреть ответ автора</td><td width="50%"></td></tr>
<tr><td>Oтвет автора</td><td width="50%"></td></tr>
<tr><td>Вы уверены, что хотите посмотреть ответ автора? Начисление бонусов будет невозможно</td><td width="50%"></td></tr>
<tr><td>Комментарии</td><td width="50%"></td></tr>
<tr><td>Написать комментарий</td><td width="50%"></td></tr>
<tr><td>Другие вопросы</td><td width="50%"></td></tr>
<tr><td>Оповещения</td><td width="50%"></td></tr>
<tr><td>Библиотека файлов</td><td width="50%"></td></tr>
<tr><td>Добавить файл в библиотеку</td><td width="50%"></td></tr>
<tr><td>По дате добавления</td><td width="50%"></td></tr>
<tr><td>По типу</td><td width="50%"></td></tr>
<tr><td>По популярности</td><td width="50%"></td></tr>
<tr><td>По наличию ответов</td><td width="50%"></td></tr>
<tr><td>Сохранить</td><td width="50%"></td></tr>
<tr><td>Личные данные</td><td width="50%"></td></tr>
<tr><td>Имя (псевдоним)</td><td width="50%"></td></tr>
<tr><td>Страна</td><td width="50%"></td></tr>
<tr><td>Изменить превью</td><td width="50%"></td></tr>
<tr><td>Отмена</td><td width="50%"></td></tr>
<tr><td>Вход</td><td width="50%"></td></tr>
<tr><td>Регистрация</td><td width="50%"></td></tr>
<tr><td>Забыли пароль?</td><td width="50%"></td></tr>
<tr><td>Добро пожаловать</td><td width="50%"></td></tr>
<tr><td>Ваше имя или псевдоним</td><td width="50%"></td></tr>
<tr><td>Ваш e-mail</td><td width="50%"></td></tr>
<tr><td>Придумайте пароль</td><td width="50%"></td></tr>
<tr><td>Повторте пароль</td><td width="50%"></td></tr>
<tr><td>Выход</td><td width="50%"></td></tr>
<tr><td>Страна не выбрана</td><td width="50%"></td></tr>
<tr><td>Старый пароль</td><td width="50%"></td></tr>
<tr><td>Изменить пароль</td><td width="50%"></td></tr>
<tr><td>Уведомлять об отметках "мне нравится" для вопросов</td><td width="50%"></td></tr>
<tr><td>Уведомлять об отметках "мне нравится" для ответов</td><td width="50%"></td></tr>
<tr><td>Уведомлять об отметках "мне нравится" для комментариев</td><td width="50%"></td></tr>
<tr><td>Уведомлять о регистрации по вашей ссылке</td><td width="50%"></td></tr>
<tr><td>Уведомления</td><td width="50%"></td></tr>
<tr><td>добавил новый ответ на</td><td width="50%"></td></tr>
<tr><td>ваш вопрос</td><td width="50%"></td></tr>
<tr><td>Ваш ответ</td><td width="50%"></td></tr>
<tr><td>заблокировали</td><td width="50%"></td></tr>
<tr><td>Вам вынесено предупреждение</td><td width="50%"></td></tr>
<tr><td>добавил новый вопрос</td><td width="50%"></td></tr>
<tr><td>Ваш вопрос заблокировали</td><td width="50%"></td></tr>
<tr><td>Вы занесены в черный список</td><td width="50%"></td></tr>
<tr><td>вы заняли</td><td width="50%"></td></tr>
<tr><td>в общем рейтинге сайта</td><td width="50%"></td></tr>
<tr><td>По итогам периода</td><td width="50%"></td></tr>
<tr><td>Бонусы</td><td width="50%"></td></tr>
<tr><td>бонусов на счете</td><td width="50%"></td></tr>
<tr><td>Ваше место в рейтинге</td><td width="50%"></td></tr>
<tr><td>Зарабатывай Comm`ы приглашая друзей по своей уникальной ссылке</td><td width="50%"></td></tr>
<tr><td>Скопировать</td><td width="50%"></td></tr>
<tr><td>За что еще начисляются Comm`ы</td><td width="50%"></td></tr>
<tr><td>Вопрос</td><td width="50%"></td></tr>
<tr><td>Ответ</td><td width="50%"></td></tr>
<tr><td>Ответ правильны(совпал с ответом автора)</td><td width="50%"></td></tr>
<tr><td>Интересный вопрос</td><td width="50%"></td></tr>
<tr><td>за каждые</td><td width="50%"></td></tr>
<tr><td>Отметить лайком</td><td width="50%"></td></tr>
<tr><td>Хит вопрос, ответ</td><td width="50%"></td></tr>
<tr><td>лайков(набранные в течение месяца).</td><td width="50%"></td></tr>
<tr><td>Комментарий</td><td width="50%"></td></tr>
<tr><td>Регистрация друга</td><td width="50%"></td></tr>
<tr><td>Подписка на автора\канал</td><td width="50%"></td></tr>
<tr><td>Вы не участвуете в рейтинге</td><td width="50%"></td></tr>
<tr><td>Добавить вопрос</td><td width="50%"></td></tr>
<tr><td>Выберите раздел</td><td width="50%"></td></tr>
<tr><td>Загрузить файл</td><td width="50%"></td></tr>
<tr><td>Раздел, где ты задаешь вопрос с помощью музыки на любых инструментах, свистом, на губах ,с помощью подручных предметов и т.д.</td><td width="50%"></td></tr>
<tr><td>Загрузить файл вопроса</td><td width="50%"></td></tr>
<tr><td>Перетащите сюда ваш файл или кликните по области</td><td width="50%"></td></tr>
<tr><td>Добавить файл</td><td width="50%"></td></tr>
<tr><td>Также можно выбрать файл из</td><td width="50%"></td></tr>
<tr><td>вашей библиотеки</td><td width="50%"></td></tr>
<tr><td>Загрузить вопрос</td><td width="50%"></td></tr>
<tr><td>Добавить привью для вопроса</td><td width="50%"></td></tr>
<tr><td>Пропустить</td><td width="50%"></td></tr>
<tr><td>Добавить ответ</td><td width="50%"></td></tr>
<tr><td>Пропустить и сохранить изменения</td><td width="50%"></td></tr>
<tr><td>Добавить привью для отвтета</td><td width="50%"></td></tr>
<tr><td>МОЛОДЕЦ!</td><td width="50%"></td></tr>
<tr><td>Перейти к профилю</td><td width="50%"></td></tr>
<tr><td>Редактировать файл из библиотеки</td><td width="50%"></td></tr>
<tr><td>Редактировать вопрос</td><td width="50%"></td></tr>
<tr><td>Превью</td><td width="50%"></td></tr>
<tr><td>ФАЙЛ БУДЕТ ДОБАВЛЕН ИЗ БИБЛИОТЕКИ</td><td width="50%"></td></tr>
<tr><td>Описание</td><td width="50%"></td></tr>
<tr><td>Теги</td><td width="50%"></td></tr>
<tr><td>Показывать вопрос</td><td width="50%"></td></tr>
<tr><td>Вставьте ссылку на профиль пользователя, кому адресован вопрос</td><td width="50%"></td></tr>
<tr><td>Добавить Комментарий</td><td width="50%"></td></tr>
<tr><td>Ваш ответ был добавлен и находится в обработке</td><td width="50%"></td></tr>
<tr><td>Ваш комментарий был добавлен и находится в обработке</td><td width="50%"></td></tr>
<tr><td>Комментировать</td><td width="50%"></td></tr>
<tr><td>Пожаловаться</td><td width="50%"></td></tr>
<tr><td>Файл неправильного типа</td><td width="50%"></td></tr>
<tr><td>Выберите файл</td><td width="50%"></td></tr>
<tr><td>Файлы были успешно добавлены в вашу библиотеку!</td><td width="50%"></td></tr>
<tr><td>Доавить еше файлы в библиотеку?</td><td width="50%"></td></tr>
<tr><td>Название файла</td><td width="50%"></td></tr>
<tr><td>Описание файла</td><td width="50%"></td></tr>
<tr><td>Редактировать ответ</td><td width="50%"></td></tr>
<tr><td>Добавить свой ответ</td><td width="50%"></td></tr>
<tr><td>О проекте</td><td width="50%"></td></tr>
<tr><td>О проекте</td><td width="50%"></td></tr>
<tr><td>О проекте</td><td width="50%"></td></tr>
<tr><td>О проекте</td><td width="50%"></td></tr>
<tr><td>Пользователям</td><td width="50%"></td></tr>
<tr><td>Пользователям</td><td width="50%"></td></tr>
<tr><td>Пользователям</td><td width="50%"></td></tr>
<tr><td>Пользователям</td><td width="50%"></td></tr>
<tr><td>Файл слишком большой</td><td width="50%"></td></tr>
<tr><td>Не подходящего типа</td><td width="50%"></td></tr>
<tr><td>Добавьте файл!</td><td width="50%"></td></tr>
<tr><td>Вы подписались на канал пользователя :seller. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы отказались от подписки на канал пользователя :seller. Списано :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы подписались на категорию :category. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы отказались от подписки на категорию :category. Списано :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы поставили 1000 лайков. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>У вас стало менее 1000 лайков. Списано :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы поставили 1000 лайков. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>У вас стало менее 1000 лайков. Списано :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы поставили 1000 лайков. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>У вас стало менее 1000 лайков. Списано :bonus comm</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>Вы создали новый вопрос :article . Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы добавили комментарий к вопросу :article пользователя :seller. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>Вы добавили ответ на вопрос :article пользователя :seller. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>:seller отметил ваш ответ в теме :article как верный. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>:seller отметил ваш ответ в теме :article как неверный</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>Ваш вопрос был удален администратором</td><td width="50%"></td></tr>
<tr><td>Ваш ответ был удален администратором</td><td width="50%"></td></tr>
<tr><td>Ваш комментарий был удален администратором</td><td width="50%"></td></tr>
<tr><td>Вы были забанены</td><td width="50%"></td></tr>
<tr><td>Пользователь :buyer подписался на ваш канал. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>Пользователь :buyer отказался от подписки на ваш канал. У вас списано :bonus comm</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer понравился ваш вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer больше не нравится ваш вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer понравился ваш ответ на вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer больше не нравится ваш ответ на вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer понравился ваш комментарий к вопросу :article</td><td width="50%"></td></tr>
<tr><td>Пользователю :buyer больше не нравится ваш комментарий к вопросу :article</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>В категории :category пользователь :buyer добавил новый вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователь :buyer добавил комментарий в вопросе :article</td><td width="50%"></td></tr>
<tr><td>Пользователь :buyer добавил ответ на ваш вопрос :article</td><td width="50%"></td></tr>
<tr><td>Пользователь :buyer создал адресованный вам вопрос :article</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>По вашей реферальной ссылке зарегистрировался пользователь :buyer. Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) подписался на канал :seller(+:sbonus)</td><td width="50%"></td></tr>
<tr><td>:buyer(-:bbonus) отказался от подписки на канал :seller(-:sbonus)</td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) подписался на категорию :category</td><td width="50%"></td></tr>
<tr><td>:buyer(-:bbonus) отказался от подписки на категорию :category</td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) отметил вопрос :article лайком</td><td width="50%"></td></tr>
<tr><td>:buyer(-:bbonus) снял лайк с вопроса :article</td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) отметил ответ на вопрос :article лайком</td><td width="50%"></td></tr>
<tr><td>:buyer(-:bbonus) снял лайк с ответа на вопрос :article</td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) отметил комментарий на вопрос :article лайком</td><td width="50%"></td></tr>
<tr><td>:buyer(-:bbonus) снял лайк с комментария на вопрос :article</td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td></td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) добавил комментарий на вопрос :article пользователя :seller</td><td width="50%"></td></tr>
<tr><td>:buyer(+:bbonus) добавил ответ на вопрос :article пользователя :seller</td><td width="50%"></td></tr>
<tr><td>:buyer создал адресованный :seller вопрос :article</td><td width="50%"></td></tr>
<tr><td>:seller отметил ответ :buyer(+:bbonus) в теме :article как верный</td><td width="50%"></td></tr>
<tr><td>:seller отметил ответ :buyer в теме :article как неверный</td><td width="50%"></td></tr>
<tr><td>:buyer зарегистрировался по реферальной ссылке :seller(+:sbonus)</td><td width="50%"></td></tr>
<tr><td>Вопрос :buyer был удален</td><td width="50%"></td></tr>
<tr><td>Ответ :buyer был удален</td><td width="50%"></td></tr>
<tr><td>Комментарий :buyer был удален</td><td width="50%"></td></tr>
<tr><td>:buyer был забанен</td><td width="50%"></td></tr>
<tr><td>Вам начислено :bonus comm</td><td width="50%"></td></tr>
<tr><td>У вас списано :bonus comm</td><td width="50%"></td></tr>
<tr><td>Общаемся</td><td width="50%"></td></tr>
<tr><td><b class="aboutB">«Общаемся без слов»</b> - социальная сеть. Международный, развлекательный и познавательный  проект.</p>
                <p>Commfi упраздняет языковой барьер между людьми! Теперь тебя поймут в любой стране  без знания иностранных языков.</p>
                <p>Задавай вопросы и отвечай на них видео ,фото и аудио файлами.</p>
                <p>Сфотографируй, сними на камеру телефона, запиши просто звук,обозначь движениями, предметами, голосом, нарисуй, сыграй и т.д . Фантазируй, включай воображение ,смоделируй свой вопрос, ответ без слов в собственном стиле. Весь мир ждет!</p>
                <p>Развивай ассоциативное мышление!</p></td><td width="50%"></td></tr>
<tr><td>Смотрим</td><td width="50%"></td></tr>
<tr><td><p><b class="aboutB">«Шоу общений»</b>.Наслаждайся абсолютно неожиданным и безграничным шоу общений. Получи удовольствие от наблюдения за общением людей из разных стран без слов.</p>
                <p>Отвлекись и освежись, бесплатно и без регистрации!</p></td><td width="50%"></td></tr>
<tr><td>Играем</td><td width="50%"></td></tr>
<tr><td><p><b class="aboutB">«Игра общений»</b>. Comm - международная денежная единица общения. Мы поощряем самых активных и амбициозных участников со всего мира. Отвечай или задавай вопросы без слов и получай Comm - бонусы. Обменивай Comm на призы. Также мы начисляем Comm  за приглашение друзей на проект, за комментарии и т.д</p></td><td width="50%"></td></tr>
<tr><td>Сближаемся</td><td width="50%"></td></tr>
<tr><td><p>Вместе мы создаем новую международную культуру общения!</p></td><td width="50%"></td></tr>
<tr><td>ПРИСОЕДИНЯЙСЯ И НАСЛАЖДАЙСЯ</td><td width="50%"></td></tr>
<tr><td>Бонусная система</td><td width="50%"></td></tr>
<tr><td>Задай вопрос</td><td width="50%"></td></tr>
<tr><td>за 1 вопрос</td><td width="50%"></td></tr>
<tr><td>Добавь ответ</td><td width="50%"></td></tr>
<tr><td>за 1 ответ</td><td width="50%"></td></tr>
<tr><td>Правильный ответ</td><td width="50%"></td></tr>
<tr><td>за верный ответ</td><td width="50%"></td></tr>
<tr><td>Интересный вопрос</td><td width="50%"></td></tr>
<tr><td>за 100 000 просмотров</td><td width="50%"></td></tr>
<tr><td>Поставить лайк</td><td width="50%"></td></tr>
<tr><td>за 1000 лайков</td><td width="50%"></td></tr>
<tr><td>Хит вопрос</td><td width="50%"></td></tr>
<tr><td>за 1 000 000 лайков</td><td width="50%"></td></tr>
<tr><td>Добавь комментарий</td><td width="50%"></td></tr>
<tr><td>за 1 комментарий</td><td width="50%"></td></tr>
<tr><td>Пригласи друга</td><td width="50%"></td></tr>
<tr><td>за 1 регистрацию</td><td width="50%"></td></tr>
<tr><td>Подпишись на автора/канал</td><td width="50%"></td></tr>
<tr><td>за 1 подписку</td><td width="50%"></td></tr>
</table>